@use "../mixins";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap');

body {
    overflow-x: scroll;
}

#earth, #dark {
    background: #111;
}

#light {
    background: #f4f4f4;
}

#banana {
    background: #ECCB00;
}
 
#red {
    background: #D10000;
}

.landing-page-section {
    position: absolute;
    top: 0;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    .earth {
        background-image: url("../../assets/earth.png") !important;
    }
    
    #earth-landing-page {
        position: absolute;
        bottom: -20vh;
        left: -10vw;
        width: 120vw;
        height: 80vh;
        background-image: url("../../assets/black-planet.png");
    }

    #hero {
        position: absolute;
        top: calc(40% - 50px);
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;

        img {
            width: 20vw;
        }
    }

    #main-text {
        position: absolute;
        z-index: 1;
        text-align: center;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        
        #greeting {
            font-weight: 900;
            font-size: 2.5rem;
        }
        
        #short-intro {
            font-weight: 300;
            font-size: 1.3rem;
        }
    }

    .monkey {
        position: absolute;
    }

    .running {
        @include mixins.monkey-orb-styles (20vh, 25%, 8vw);
    }

    .sleeping {
        @include mixins.monkey-orb-styles (80vh, 90%, 14vw);
    }

    .standing {
        @include mixins.monkey-orb-styles(18vh, 65%, 6vw);
    }

    .bored {
        @include mixins.monkey-orb-styles(35vh, 83%, 9vw);
    }

    .jumping {
        @include mixins.monkey-orb-styles(45vh, 10%, 8vw);
    }

    .pimpedout {
        @include mixins.monkey-orb-styles(74vh, -8%, 20vw);
    }

    #flexing-monkey {
        position: absolute;
        @include mixins.monkey-orb-styles(70vh, 50%, 35vw);
        transform: translateX(-50%);
    }

    #orbs {

        #orb-1 {
            @include mixins.empty-orb-styles(15vh, 10vw, 2vw);
        }

        #orb-2 {
            @include mixins.empty-orb-styles(33vh, 5vw, 1.5vw);
        }

        #orb-3 {
            @include mixins.empty-orb-styles(22vh, 18vw, 1.8vw);
        }

        #orb-4 {
            @include mixins.empty-orb-styles(12vh, 78vw, 2.5vw);
        }

        #orb-5 {
            @include mixins.empty-orb-styles(25vh, 85vw, 1.7vw);
        }

        #orb-6 {
            @include mixins.empty-orb-styles(35vh, 20vw, 2.2vw);
        }

        #orb-7 {
            @include mixins.empty-orb-styles(13vh, 38vw, 1.3vw);
        }

        #orb-8 {
            @include mixins.empty-orb-styles(15vh, 58vw, 1.7vw);
        }

    }
}