@mixin flex__vertically-centered ($justify-content) {
    display: flex;
    align-items: center;
    justify-content: $justify-content;
}

@mixin monkey-orb-styles ($top, $left, $image-width) {
    position: absolute;
    top: $top;
    left: $left;

    img {
        width: $image-width;
    }
}

@mixin empty-orb-styles ($top, $left, $image-width) {
    position: absolute;
    top: $top;
    left: $left;
    width: $image-width;
}